.fundo {
	background-color: #31e8a8;
	padding: 54px;
	line-height: 0.5;
}

.fundo2 {
	background-color: #dbd9d9;
	border-radius: 5px;
	width: 550px;
	height: 420px;
	margin-left: 27%;
	margin-right: 100px; 
	padding-left: 10px; 
	padding-right: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.explicacao {
	background-color: #dbd9d9;
	border-radius: 5px;
	width: 1100px;
	height: 420px;
	margin-left: 5%;
	padding-top: 10px;
}

.titulo {
	background-color: #fee440; 
	border-radius: 5px;
	width: 50 px;
	height: 60px;
	margin-top: 10px;
	padding: 5px;
	line-height: 1.5;
}

.atributos {
	background-color: #2b6eff;
	border-radius: 5px;
	width: 5 px;
	height: 10 px;
	padding: 10px;
	padding-left: 1px;
	margin-left: 80px;
	margin-right: 50px;
}

.botao {
	background-color: #ff6961;
	border-radius: 5px;
	width: 5 px;
	height: 10 px;
	padding: 10px;
	margin-left: 310px;
	margin-right: 5px;
	cursor: pointer;
}

.botao2 {
	background-color: #27cc1f;
	border-radius: 5px;
	width: 5 px;
	height: 10 px;
	padding: 10px;
	margin-left: 310px;
	margin-right: 5px;
	cursor: pointer;
}

.conclusao {
	background-color: #fff;
	border-radius: 5px;
	padding-bottom: 10px;
	padding-top: 25px;
	padding: 20px;
	margin-right: 450px; 
	margin-left: 37%;
}

.cima {
	background-color: #2b6eff;
	border-radius: 5px;
	padding: 5 px;	
	padding-top: 10px;
	padding-bottom: 10px;
}

.baixo {
	background-color: #fff;
	border-radius: 5px;
	padding: 5 px;	
	padding-top: 10px;
	padding-bottom: 10px;
}

.texto1 {
	font-family: arial;
	line-height: 1.0;
	font-size: 15px;
	margin: 20px;
}

.texto2 {
	font-family: arial;
	line-height: 1.5;
	font-size: 15px;
	margin: 20px;
}

.texto3 {
	font-family: arial;
	line-height: 1.5;
	font-size: 15px;
}

.texto4 {
	font-family: arial;
	line-height: 1.5;
	font-size: 15px;
	margin-right: 20px;
}

.texto5 {
	font-family: arial;
	line-height: 1.5;
	font-size: 15px;
	margin: 20px;
	color: #fff;
}

.texto6 {
	font-family: arial;
	line-height: 0.5;
	font-size: 15px;
	margin: 20px;
	color: #ff0000;
}